<phpunit>
    <testsuites>
        <testsuite name="Classes">
            <directory suffix="Test.php">tests/classes</directory>
        </testsuite>
<!--        <testsuite name="Handlers">
            <directory suffix="_test.php">tests/handlers</directory>
        </testsuite>-->
        <testsuite name="Core">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
    <php>
        <!-- Set everything the config.php has to offer -->
        <const name="WOBBLE_HOME" value="."/>
        <!-- <const name="PASSWORD_SALT" value=""/> -->
    </php>
</phpunit>