
#headline .navigation{
	text-align:right;
	position:relative;
	top:0px;
	right:0px;

	font-weight: bold;
	font-size: 13px;
}

/* --------------------------------------------------------- */
#contacts .contactslist {
	overflow:auto;
}
/* --------------------------------------------------------- */
#topics_wrapper #topics {
	overflow:auto;
	
	position:absolute;
	top:78px;
	bottom:0px;
}
/* --------------------------------------------------------- */
#topic_wrapper #topic_readers {

}
#topic_wrapper #topic_posts {
	overflow:auto;
}

/* --------------------------------------------------------- */