#headline {
	margin:10px;
}
#headline .navigation{
	text-align:right;
	position:relative;
	top:0px;
	right:0px;

	font-weight: bold;
	font-size: 13px;
}
/* ------------------------------------------------------------------------- */

#desktoploginview {
	min-height:240px;
	height:100%;
}
#desktoploginview .content {
	background-color:gray;
	color:white;	
	
	position: relative;
	
	top:200px;
	height:140px;

	left:0px;
	right:0px;

	padding:70px;
}
#desktoploginview label {
	font-weight: bold;
}
#desktoploginview button {
	padding:10px;
	padding-right:25px;
	padding-left:25px;
}

#desktoploginview .element {
	display:inline;
	width:30%;
	float: left;

}
/* --------------------------------------------------------- */
#contacts .contactslist {
	overflow:auto;
}
/* --------------------------------------------------------- */
#topics_wrapper #topics {
	overflow:auto;
	
	position:absolute;
	top:78px;
	bottom:0px;
}
/* --------------------------------------------------------- */
#topic_wrapper #topic_readers {

}
#topic_wrapper #topic_posts {
	overflow:auto;
}

/* --------------------------------------------------------- */