
#widgets {
  top:50px;
  margin:5px;
}

button {
  height:40px;
  padding-left:25px;
  padding-right:25px;
}
/* --------------------------------------------------------- */
#contactschooser {
  top: 70px;
  left:10px;
}
/* --------------------------------------------------------- */
#mobileloginview {
  margin:20px;
}
#mobileloginview .content {

}
#mobileloginview .loginform {
  background:gray;
  color:white;
  margin-bottom:30px;
  width:100%;
}
#mobileloginview button {
  height:40px;
}
/* --------------------------------------------------------- */
#navigator {
  position:absolute;

  top:0px;
  left:0px;
  right:0px;
  height:60px;

  background-color:gray;
}
#navigator button {
  width:30%;
  height:100%;

  font-weight:bold;
}
/* --------------------------------------------------------- */
#contacts .actions {
  background:#C9E2FC;
  height:42px;
  border-bottom:1px black solid;
}
#contacts .contactslist {
  height:auto;
  overflow:visible;
}
/* --------------------------------------------------------- */
#topics_wrapper {
  height:auto;
}
#topics_wrapper #topics_actions {
  margin-top:5px;
  height:42px;
  background: #C9E2FC;
}
#topics_wrapper #topics {
  top:0px;
  overflow:visible;
  height:auto;
  bottom:auto;
}
#topiclist_header {
  display:none;
}
/* --------------------------------------------------------- */
#topic_wrapper #topic_actions {
  height:42px;
  background:#C9E2FC;
}
#topic_wrapper #topic_posts {
  height:auto;
  overflow:visible;
}

#topic_wrapper #topic_posts .post {
  background:white;
}
/* --------------------------------------------------------- */