/*
Darker Blue: #5590d2
Lighter Blue:  #C9E2FC
Green (Active Item): #789E35
*/
.widget {
	display: block;
	position: absolute;
	top: 10px;
	-webkit-transition-duration: 300ms;
	
	background-color: #C9E2FC;
	border:1px black solid; 
	border-radius: 5px;
}
.dialog {
	position:absolute;
	background-color:white;
	color:black;
	border:1px #5590d2 solid;
}
/* ------------------------------------------------------------------------- */
.contactdetail {
	padding:10px;
}
.contactdetail .usericon {
}
.contactdetail .name {

}
.contactdetail .email {

}

/* ------------------------------------------------------------------------- */
#contacts {
	min-width:180px;
	min-height:400px;
}
#contacts .actions {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAAAYCAYAAABKtPtEAAAAcElEQVR42u3YYQYAIBiD4d3/KN0pSSRJJImkdZB947nA+3NwzlEZKD4LYAEsgHiA9x6V4d5LZTjnUBn23lSGtRaVYc5JZRhjUBl671SG1hqVodZKZSilUBlyzlSGlBKVIcZIZQghUBm891RmAdRv8Q8+U3zLFCicDAAAAABJRU5ErkJggg==);
	padding-left:5px;
	
	
	position:absolute;
	top:55px;
	left:0px;
	right:0px;
}
#contacts ul {
	background-color:white;
	border-radius:0px 0px 5px 5px;
	list-style-type:none;
	
	padding:5px;
	margin:0px;
	
	position:absolute;
	top:80px;
	left:0px;
	right:0px;
	bottom:0px;
	
}
#contacts .contact {
	cursor:pointer;
}
#contacts .contact .name {
	margin-left: 5px;
}
#contacts .whoami {
	margin-left:10px;
	margin-top:10px;
	
}
#contacts .whoami .name {
	font-weight:bold;
	vertical-align:top;
}
/* ------------------------------------------------------------------------- */
#topics_wrapper { 
	min-height:400px;
	min-width:300px;
}
#topics_wrapper #topics_actions {
	
	margin-top:55px;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAAAYCAYAAABKtPtEAAAAcElEQVR42u3YYQYAIBiD4d3/KN0pSSRJJImkdZB947nA+3NwzlEZKD4LYAEsgHiA9x6V4d5LZTjnUBn23lSGtRaVYc5JZRhjUBl671SG1hqVodZKZSilUBlyzlSGlBKVIcZIZQghUBm891RmAdRv8Q8+U3zLFCicDAAAAABJRU5ErkJggg==);
	padding-left:5px;
}

#topics_wrapper #topics {
	background-color: white;
	border-radius: 0px 0px 5px 5px;
	
	overflow: auto;
	list-style-type: none;
	
	margin:0px;
	padding:0px;
	position:absolute;
	top:80px;
	bottom:0px;
	left:0px;
	right:0px;
	
}
#topics li {
	border-bottom:1px black solid;
	
	position: relative;
	
	padding:3px;
	height: 40px;
	overflow:hidden;
}

#topics li.topic_header {
	cursor:pointer;
}
#topics li.topic_header .abstract {
	
}
#topics li.topic_header .users {
	position:absolute;
	top:4px;
	right:4px;
}
#topics li.topic_header .users img {
	margin-left:2px;
}

#topics li.active {
	background-color:#789E35;
}
#topics li.active .users img {
	border:1px black solid;
}

/* ------------------------------------------------------------------------- */
#topic_wrapper { 
	min-height:400px;
	min-width:300px;
	
	
}
#topic_readers {
	position:absolute;
	right:10px;
	left:10px;
	height:40px;
	top:10px;
}
#topic_readers * {
	padding-right:4px;
}
#topic_actions {
	position:absolute;
	top:55px;
	left:0px;
	padding-left:5px;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAAAYCAYAAABKtPtEAAAAcElEQVR42u3YYQYAIBiD4d3/KN0pSSRJJImkdZB947nA+3NwzlEZKD4LYAEsgHiA9x6V4d5LZTjnUBn23lSGtRaVYc5JZRhjUBl671SG1hqVodZKZSilUBlyzlSGlBKVIcZIZQghUBm891RmAdRv8Q8+U3zLFCicDAAAAABJRU5ErkJggg==);
	right:0px;
}
#topic_posts {
	background-color:white;
	border-radius: 0px 0px 5px 5px;
	overflow:auto;
	
	position:absolute;
	left:0px;
	right:0px;
	top:80px;
	bottom:0px;
}
#topic_posts .loading {
	margin:10px;
}
#topic_posts .post {
	border-radius:5px;
	border:3px white solid;
	
	margin-bottom:1px;
	min-height:80px;
	padding:5px;
	position:relative;
}
#topic_posts .post_wrapper .active {
	border:3px #789E35 solid;
}
#topic_posts .post_wrapper {
	border-top: 1px black dashed;
}
#topic_posts .post>.time {
	position:absolute;
	right:0px;
	top:0px;

	padding:5px;

	color:gray;
	float:right;
	font-size:small;
}
#topic_posts .post .users {
	min-height:25px;
	padding-left:3px;
	padding-top:3px;
	display:block;
}
#topic_posts .post .users img {
	padding-right:2px;
	float:left;
}
#topic_posts .post>.users>.names {
	color:gray;
	font-weight:bold;
	float:left;
	font-size:small;
	display:block;

}
#topic_posts .post .buttons {
	
}
#topic_posts .post_replies {
	margin-left:15px;
	border-left:1px gray solid;
	border-bottom:1px gray solid;
	border-radius:5px;
}
/* Posts inside of posts have a left padding */
#topic_posts .post .post {
	padding-left:3px;
}
/* ------------------------------------------------------------------------- */
.usericon {
	display:inline;
	position:relative;
}
.usericon div {
	display:inline;
}
.usericon16 .status {
	width:11px;
	height:11px;
	position:absolute;
	top:7px;
	left:9px;
}
.usericon20 .status {
	width:11px;
	height:11px;
	position:absolute;
	top:8px;
	left:13px;
}
.usericon32 .status {
	width:11px;
	height:11px;
	position:absolute;
	top:8px;
	left:26px;
}
.usericon40  .status {
	width:11px;
	height:11px;
	position:absolute;
	top:7px;
	left:33px;
}
.usericon .online {
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAmklEQVR42mNgAIL////rAfF+IP4BxH+A+BsQrwBiSQaoAn0gvrr02qrjyrONH8vP1P8PokF8oPgtINYAKVoNEgBJouOl19aAFM4FKXoBMwEdg8SB8s9Ain5jUwDDQPALpOgDAZOegBQtXn597QlsioDiIDdNAylSA+LHIIXIvgPxgeJnwL6DBoMYEM8G4tfQsPoIxMuAWB4kDwCRrNHJnDC8OAAAAABJRU5ErkJggg==) no-repeat;
}
.usericon .away {
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAo0lEQVR42m2QsQrCMBRFM/QbBKdu4lS/xx8TbXEqFKHfII46uGrBtSKCS7sU0cL13iQtVXxwmuTm5NHEGBaAiOzIk7SkIRsyNl6YkRPOyz2SoMSKkUatgQuZSsptoE2h6uZOXCu99x1+JeXATenbBts5+uokd+ilb/XVaYjrdJWUoogPf6Ui1j8tJE1IacXh7bQGjvZ2/hlGJCEP/1Y1yUio/Q9gQvOBIT9JeAAAAABJRU5ErkJggg==) no-repeat;
}
.usericon .offline {	
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAABFklEQVR42k1RzUqEYBQdepRWQdRztGwb9CptWgShiH+oiKKIMCAirhJJZooR2sTQbqCls+sBdHk750OHuXA4nB+vcL/Vah4RuQEM4AP4Ab6AF+BqdT4wHqdp2nVd12RZNuR5LmRq+sgfThvHcdylaXpAQdbrtRRFoZiaPvItercsGw0mjmPp+14VF1DTf8Og98rydxAExyiK1CYOvlVMTd/3/QHyneU/13UlDENJkkTqulZFMjV95pg9y7+O4xw9z1MBpyxLxdT0bdvm5i3LDrY0lmVJ27YqxG8VU9Nnjt7Tco3ONM2DYRgCVgXyrHmNDXqXy/nuYXxWVdXouj5omiZkai5Cfnf+KBfANfAMMNwDm1mfXvAfXkRYqbEvyOQAAAAASUVORK5CYII=) no-repeat;
}